/build/
/build-*/
/cmake-build-*/
/.cache/
/.qt/
CMakeUserPresets.json
CMakeLists.txt.user
*.user
*.autosave
.DS_Store
*~
*.o
*.a
moc_*.cpp
qrc_*.cpp
*.qmlc
*.jsc
compile_commands.json
.idea/
.vscode/
/obj-*/
/releases/*
!/releases/.gitignore
/debian/.debhelper/
/debian/files
/debian/debhelper-build-stamp
/debian/*.substvars
/debian/*.debhelper
/debian/*.debhelper.log
/debian/shammy/
