/build/
/build-*/
/cmake-build-*/
/.cache/
/.qt/
CMakeUserPresets.json
CMakeLists.txt.user
*.user
*.autosave
.DS_Store
*~
*.o
*.a
moc_*.cpp
qrc_*.cpp
*.qmlc
*.jsc
compile_commands.json
.idea/
.vscode/
